{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="display-2 text-center">Add Pet</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form action="/add" method="POST">
          {{ form.hidden_tag() }}
          
          {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">
              {% if field.type == 'BooleanField' %}
                <div class="form-check">
                  {{field(class_="form-check-input")}}
                  {{field.label(class_="form-check-label")}}
                </div>
              {% else %}
                {{field.label}}
                {{field(class_="form-control")}}
              {% endif %}
              
              {% for err in field.errors %}
                <small class="form-text text-danger">
                  {{err}}
                </small>
              {% endfor %}
            </div>
          {% endfor %}
          
          <button class="btn btn-success btn-lg">Submit</button>
          <a href="/" class="btn btn-danger btn-lg">Go Back</a>
        </form>  
      </div>
    </div>
  </div>
{% endblock %}
